<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/background.css') }}">
    <title>Publisher Information</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Video Game Data</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/genre">Genres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sales">Sales</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/platforms">Platforms</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/publisher">Publishers</a>
                          </li>
                  </ul>
                </div>
            </nav>
    <div>
        <select id="select-publisher">
                <option value = "Nintendo" >Nintendo</option>
                <option value = "Microsoft Game Studios" >Microsoft Game Studios</option>
                <option value = "Take-Two Interactive" >Take-Two Interactive</option>
                <option value = "Sony Computer Entertainment" >Sony Computer Entertainment</option>
                <option value = "Activision" >Activision</option>
                <option value = "Ubisoft" >Ubisoft</option>
                <option value = "Bethesda Softworks" >Bethesda Softworks</option>
                <option value = "Electronic Arts" >Electronic Arts</option>
                <option value = "Sega" >Sega</option>
                <option value = "SquareSoft" >SquareSoft</option>
                <option value = "Atari" >Atari</option>
                <option value = "505 Games" >505 Games</option>
                <option value = "Capcom" >Capcom</option>
                <option value = "GT Interactive" >GT Interactive</option>
                <option value = "Konami Digital Entertainment" >Konami Digital Entertainment</option>
                <option value = "Sony Computer Entertainment Europe" >Sony Computer Entertainment Europe</option>
                <option value = "Square Enix" >Square Enix</option>
                <option value = "LucasArts" >LucasArts</option>
                <option value = "Virgin Interactive" >Virgin Interactive</option>
                <option value = "Warner Bros. Interactive Entertainment" >Warner Bros. Interactive Entertainment</option>
                <option value = "Universal Interactive" >Universal Interactive</option>
                <option value = "Eidos Interactive" >Eidos Interactive</option>
                <option value = "RedOctane" >RedOctane</option>
                <option value = "Vivendi Games" >Vivendi Games</option>
                <option value = "Enix Corporation" >Enix Corporation</option>
                <option value = "Namco Bandai Games" >Namco Bandai Games</option>
                <option value = "Palcom" >Palcom</option>
                <option value = "Hasbro Interactive" >Hasbro Interactive</option>
                <option value = "THQ" >THQ</option>
                <option value = "Fox Interactive" >Fox Interactive</option>
                <option value = "Acclaim Entertainment" >Acclaim Entertainment</option>
                <option value = "MTV Games" >MTV Games</option>
                <option value = "Disney Interactive Studios" >Disney Interactive Studios</option>
                <option value = "Majesco Entertainment" >Majesco Entertainment</option>
                <option value = "Codemasters" >Codemasters</option>
                <option value = "Red Orb" >Red Orb</option>
                <option value = "Level 5" >Level 5</option>
                <option value = "Arena Entertainment" >Arena Entertainment</option>
                <option value = "Midway Games" >Midway Games</option>
                <option value = "JVC" >JVC</option>
                <option value = "Deep Silver" >Deep Silver</option>
                <option value = "989 Studios" >989 Studios</option>
                <option value = "NCSoft" >NCSoft</option>
                <option value = "UEP Systems" >UEP Systems</option>
                <option value = "Parker Bros." >Parker Bros.</option>
                <option value = "Maxis" >Maxis</option>
                <option value = "Imagic" >Imagic</option>
                <option value = "Tecmo Koei" >Tecmo Koei</option>
                <option value = "Valve Software" >Valve Software</option>
                <option value = "ASCII Entertainment" >ASCII Entertainment</option>
                <option value = "Mindscape" >Mindscape</option>
                <option value = "Infogrames" >Infogrames</option>
                <option value = "Unknown" >Unknown</option>
                <option value = "Square" >Square</option>
                <option value = "Valve" >Valve</option>
                <option value = "Activision Value" >Activision Value</option>
                <option value = "Banpresto" >Banpresto</option>
                <option value = "D3Publisher" >D3Publisher</option>
                <option value = "Oxygen Interactive" >Oxygen Interactive</option>
                <option value = "Red Storm Entertainment" >Red Storm Entertainment</option>
                <option value = "Video System" >Video System</option>
                <option value = "Hello Games" >Hello Games</option>
                <option value = "Global Star" >Global Star</option>
                <option value = "Gotham Games" >Gotham Games</option>
                <option value = "Westwood Studios" >Westwood Studios</option>
                <option value = "GungHo" >GungHo</option>
                <option value = "Crave Entertainment" >Crave Entertainment</option>
                <option value = "Hudson Soft" >Hudson Soft</option>
                <option value = "Coleco" >Coleco</option>
                <option value = "Rising Star Games" >Rising Star Games</option>
                <option value = "Atlus" >Atlus</option>
                <option value = "TDK Mediactive" >TDK Mediactive</option>
                <option value = "ASC Games" >ASC Games</option>
                <option value = "Zoo Games" >Zoo Games</option>
                <option value = "Accolade" >Accolade</option>
                <option value = "Sony Online Entertainment" >Sony Online Entertainment</option>
                <option value = "3DO" >3DO</option>
                <option value = "RTL" >RTL</option>
                <option value = "Natsume" >Natsume</option>
                <option value = "Focus Home Interactive" >Focus Home Interactive</option>
                <option value = "Alchemist" >Alchemist</option>
                <option value = "Black Label Games" >Black Label Games</option>
                <option value = "SouthPeak Games" >SouthPeak Games</option>
                <option value = "Mastertronic" >Mastertronic</option>
                <option value = "Ocean" >Ocean</option>
                <option value = "Zoo Digital Publishing" >Zoo Digital Publishing</option>
                <option value = "Psygnosis" >Psygnosis</option>
                <option value = "City Interactive" >City Interactive</option>
                <option value = "Empire Interactive" >Empire Interactive</option>
                <option value = "Success" >Success</option>
                <option value = "Compile" >Compile</option>
                <option value = "Russel" >Russel</option>
                <option value = "Taito" >Taito</option>
                <option value = "Agetec" >Agetec</option>
                <option value = "GSP" >GSP</option>
                <option value = "Microprose" >Microprose</option>
                <option value = "Play It" >Play It</option>
                <option value = "Slightly Mad Studios" >Slightly Mad Studios</option>
                <option value = "Tomy Corporation" >Tomy Corporation</option>
                <option value = "Sammy Corporation" >Sammy Corporation</option>
                <option value = "Koch Media" >Koch Media</option>
                <option value = "Game Factory" >Game Factory</option>
                <option value = "Titus" >Titus</option>
                <option value = "Marvelous Entertainment" >Marvelous Entertainment</option>
                <option value = "Genki" >Genki</option>
                <option value = "Mojang" >Mojang</option>
                <option value = "Pinnacle" >Pinnacle</option>
                <option value = "CTO SpA" >CTO SpA</option>
                <option value = "TalonSoft" >TalonSoft</option>
                <option value = "Crystal Dynamics" >Crystal Dynamics</option>
                <option value = "SCi" >SCi</option>
                <option value = "Quelle" >Quelle</option>
                <option value = "mixi, Inc" >mixi, Inc</option>
                <option value = "Rage Software" >Rage Software</option>
                <option value = "Ubisoft Annecy" >Ubisoft Annecy</option>
                <option value = "Scholastic Inc." >Scholastic Inc.</option>
                <option value = "Interplay" >Interplay</option>
                <option value = "Mystique" >Mystique</option>
                <option value = "ChunSoft" >ChunSoft</option>
                <option value = "Square EA" >Square EA</option>
                <option value = "20th Century Fox Video Games" >20th Century Fox Video Games</option>
                <option value = "Avanquest Software" >Avanquest Software</option>
                <option value = "Hudson Entertainment" >Hudson Entertainment</option>
                <option value = "Nordic Games" >Nordic Games</option>
                <option value = "Men-A-Vision" >Men-A-Vision</option>
                <option value = "Nobilis" >Nobilis</option>
                <option value = "Big Ben Interactive" >Big Ben Interactive</option>
                <option value = "Touchstone" >Touchstone</option>
                <option value = "Spike" >Spike</option>
                <option value = "Jester Interactive" >Jester Interactive</option>
                <option value = "Nippon Ichi Software" >Nippon Ichi Software</option>
                <option value = "LEGO Media" >LEGO Media</option>
                <option value = "Quest" >Quest</option>
                <option value = "Illusion Softworks" >Illusion Softworks</option>
                <option value = "Tigervision" >Tigervision</option>
                <option value = "Funbox Media" >Funbox Media</option>
                <option value = "Rocket Company" >Rocket Company</option>
                <option value = "Metro 3D" >Metro 3D</option>
                <option value = "Mattel Interactive" >Mattel Interactive</option>
                <option value = "IE Institute" >IE Institute</option>
                <option value = "Rondomedia" >Rondomedia</option>
                <option value = "Sony Computer Entertainment America" >Sony Computer Entertainment America</option>
                <option value = "Universal Gamex" >Universal Gamex</option>
                <option value = "Ghostlight" >Ghostlight</option>
                <option value = "Wizard Video Games" >Wizard Video Games</option>
                <option value = "BMG Interactive Entertainment" >BMG Interactive Entertainment</option>
                <option value = "PQube" >PQube</option>
                <option value = "Trion Worlds" >Trion Worlds</option>
                <option value = "Laguna" >Laguna</option>
                <option value = "Ignition Entertainment" >Ignition Entertainment</option>
                <option value = "Takara" >Takara</option>
                <option value = "Kadokawa Shoten" >Kadokawa Shoten</option>
                <option value = "Destineer" >Destineer</option>
                <option value = "Enterbrain" >Enterbrain</option>
                <option value = "Xseed Games" >Xseed Games</option>
                <option value = "Imagineer" >Imagineer</option>
                <option value = "System 3 Arcade Software" >System 3 Arcade Software</option>
                <option value = "CPG Products" >CPG Products</option>
                <option value = "Aruze Corp" >Aruze Corp</option>
                <option value = "Gamebridge" >Gamebridge</option>
                <option value = "Midas Interactive Entertainment" >Midas Interactive Entertainment</option>
                <option value = "Jaleco" >Jaleco</option>
                <option value = "Answer Software" >Answer Software</option>
                <option value = "XS Games" >XS Games</option>
                <option value = "Activision Blizzard" >Activision Blizzard</option>
                <option value = "Pack In Soft" >Pack In Soft</option>
                <option value = "Rebellion" >Rebellion</option>
                <option value = "Xplosiv" >Xplosiv</option>
                <option value = "GameMill Entertainment" >GameMill Entertainment</option>
                <option value = "Wanadoo" >Wanadoo</option>
                <option value = "NovaLogic" >NovaLogic</option>
                <option value = "Telltale Games" >Telltale Games</option>
                <option value = "Epoch" >Epoch</option>
                <option value = "BAM! Entertainment" >BAM! Entertainment</option>
                <option value = "Knowledge Adventure" >Knowledge Adventure</option>
                <option value = "Mastiff" >Mastiff</option>
                <option value = "Tetris Online" >Tetris Online</option>
                <option value = "Harmonix Music Systems" >Harmonix Music Systems</option>
                <option value = "ESP" >ESP</option>
                <option value = "TYO" >TYO</option>
                <option value = "Telegames" >Telegames</option>
                <option value = "Mud Duck Productions" >Mud Duck Productions</option>
                <option value = "Screenlife" >Screenlife</option>
                <option value = "Pioneer LDC" >Pioneer LDC</option>
                <option value = "Magical Company" >Magical Company</option>
                <option value = "Mentor Interactive" >Mentor Interactive</option>
                <option value = "Kemco" >Kemco</option>
                <option value = "Human Entertainment" >Human Entertainment</option>
                <option value = "Avanquest" >Avanquest</option>
                <option value = "Data Age" >Data Age</option>
                <option value = "Electronic Arts Victor" >Electronic Arts Victor</option>
                <option value = "Black Bean Games" >Black Bean Games</option>
                <option value = "Jack of All Games" >Jack of All Games</option>
                <option value = "989 Sports" >989 Sports</option>
                <option value = "Takara Tomy" >Takara Tomy</option>
                <option value = "Media Rings" >Media Rings</option>
                <option value = "Elf" >Elf</option>
                <option value = "Starfish" >Starfish</option>
                <option value = "Zushi Games" >Zushi Games</option>
                <option value = "Jorudan" >Jorudan</option>
                <option value = "Destination Software, Inc" >Destination Software, Inc</option>
                <option value = "New" >New</option>
                <option value = "Brash Entertainment" >Brash Entertainment</option>
                <option value = "ITT Family Games" >ITT Family Games</option>
                <option value = "PopCap Games" >PopCap Games</option>
                <option value = "Home Entertainment Suppliers" >Home Entertainment Suppliers</option>
                <option value = "Ackkstudios" >Ackkstudios</option>
                <option value = "Starpath Corp." >Starpath Corp.</option>
                <option value = "P2 Games" >P2 Games</option>
                <option value = "BPS" >BPS</option>
                <option value = "Gathering of Developers" >Gathering of Developers</option>
                <option value = "NewKidCo" >NewKidCo</option>
                <option value = "Storm City Games" >Storm City Games</option>
                <option value = "CokeM Interactive" >CokeM Interactive</option>
                <option value = "CBS Electronics" >CBS Electronics</option>
                <option value = "Magix" >Magix</option>
                <option value = "Marvelous Interactive" >Marvelous Interactive</option>
                <option value = "Kalypso Media" >Kalypso Media</option>
                <option value = "Nihon Falcom Corporation" >Nihon Falcom Corporation</option>
                <option value = "Wargaming.net" >Wargaming.net</option>
                <option value = "Angel Studios" >Angel Studios</option>
                <option value = "Arc System Works" >Arc System Works</option>
                <option value = "Playmates" >Playmates</option>
                <option value = "SNK Playmore" >SNK Playmore</option>
                <option value = "Hamster Corporation" >Hamster Corporation</option>
                <option value = "From Software" >From Software</option>
                <option value = "Nippon Columbia" >Nippon Columbia</option>
                <option value = "Nichibutsu" >Nichibutsu</option>
                <option value = "Little Orbit" >Little Orbit</option>
                <option value = "Conspiracy Entertainment" >Conspiracy Entertainment</option>
                <option value = "DTP Entertainment" >DTP Entertainment</option>
                <option value = "Hect" >Hect</option>
                <option value = "Mumbo Jumbo" >Mumbo Jumbo</option>
                <option value = "Pacific Century Cyber Works" >Pacific Century Cyber Works</option>
                <option value = "Indie Games" >Indie Games</option>
                <option value = "Liquid Games" >Liquid Games</option>
                <option value = "NEC" >NEC</option>
                <option value = "Axela" >Axela</option>
                <option value = "ArtDink" >ArtDink</option>
                <option value = "Sunsoft" >Sunsoft</option>
                <option value = "Gust" >Gust</option>
                <option value = "SNK" >SNK</option>
                <option value = "NEC Interchannel" >NEC Interchannel</option>
                <option value = "FuRyu" >FuRyu</option>
                <option value = "Xing Entertainment" >Xing Entertainment</option>
                <option value = "ValuSoft" >ValuSoft</option>
                <option value = "Victor Interactive" >Victor Interactive</option>
                <option value = "Detn8 Games" >Detn8 Games</option>
                <option value = "American Softworks" >American Softworks</option>
                <option value = "Nordcurrent" >Nordcurrent</option>
                <option value = "Bomb" >Bomb</option>
                <option value = "Falcom Corporation" >Falcom Corporation</option>
                <option value = "AQ Interactive" >AQ Interactive</option>
                <option value = "CCP" >CCP</option>
                <option value = "Milestone S.r.l." >Milestone S.r.l.</option>
                <option value = "JoWood Productions" >JoWood Productions</option>
                <option value = "Seta Corporation" >Seta Corporation</option>
                <option value = "On Demand" >On Demand</option>
                <option value = "NCS" >NCS</option>
                <option value = "Aspyr" >Aspyr</option>
                <option value = "Gremlin Interactive Ltd" >Gremlin Interactive Ltd</option>
                <option value = "Agatsuma Entertainment" >Agatsuma Entertainment</option>
                <option value = "Compile Heart" >Compile Heart</option>
                <option value = "Culture Brain" >Culture Brain</option>
                <option value = "Mad Catz" >Mad Catz</option>
                <option value = "Shogakukan" >Shogakukan</option>
                <option value = "Merscom LLC" >Merscom LLC</option>
                <option value = "Rebellion Developments" >Rebellion Developments</option>
                <option value = "Nippon Telenet" >Nippon Telenet</option>
                <option value = "TDK Core" >TDK Core</option>
                <option value = "bitComposer Games" >bitComposer Games</option>
                <option value = "Foreign Media Games" >Foreign Media Games</option>
                <option value = "Astragon" >Astragon</option>
                <option value = "SSI" >SSI</option>
                <option value = "Kadokawa Games" >Kadokawa Games</option>
                <option value = "Idea Factory" >Idea Factory</option>
                <option value = "Performance Designed Products" >Performance Designed Products</option>
                <option value = "Asylum Entertainment" >Asylum Entertainment</option>
                <option value = "Core Design Ltd." >Core Design Ltd.</option>
                <option value = "PlayV" >PlayV</option>
                <option value = "UFO Interactive" >UFO Interactive</option>
                <option value = "Idea Factory International" >Idea Factory International</option>
                <option value = "Playlogic Game Factory" >Playlogic Game Factory</option>
                <option value = "Essential Games" >Essential Games</option>
                <option value = "Adeline Software" >Adeline Software</option>
                <option value = "Funcom" >Funcom</option>
                <option value = "Panther Software" >Panther Software</option>
                <option value = "Blast! Entertainment Ltd" >Blast! Entertainment Ltd</option>
                <option value = "Game Life" >Game Life</option>
                <option value = "DSI Games" >DSI Games</option>
                <option value = "Avalon Interactive" >Avalon Interactive</option>
                <option value = "Popcorn Arcade" >Popcorn Arcade</option>
                <option value = "Neko Entertainment" >Neko Entertainment</option>
                <option value = "Vir2L Studios" >Vir2L Studios</option>
                <option value = "Aques" >Aques</option>
                <option value = "Syscom" >Syscom</option>
                <option value = "White Park Bay Software" >White Park Bay Software</option>
                <option value = "System 3" >System 3</option>
                <option value = "Vatical Entertainment" >Vatical Entertainment</option>
                <option value = "Daedalic" >Daedalic</option>
                <option value = "EA Games" >EA Games</option>
                <option value = "Media Factory" >Media Factory</option>
                <option value = "Vic Tokai" >Vic Tokai</option>
                <option value = "The Adventure Company" >The Adventure Company</option>
                <option value = "Game Arts" >Game Arts</option>
                <option value = "Broccoli" >Broccoli</option>
                <option value = "Acquire" >Acquire</option>
                <option value = "General Entertainment" >General Entertainment</option>
                <option value = "Excalibur Publishing" >Excalibur Publishing</option>
                <option value = "Imadio" >Imadio</option>
                <option value = "Swing! Entertainment" >Swing! Entertainment</option>
                <option value = "Sony Music Entertainment" >Sony Music Entertainment</option>
                <option value = "Aqua Plus" >Aqua Plus</option>
                <option value = "Paradox Interactive" >Paradox Interactive</option>
                <option value = "Hip Interactive" >Hip Interactive</option>
                <option value = "DreamCatcher Interactive" >DreamCatcher Interactive</option>
                <option value = "Tripwire Interactive" >Tripwire Interactive</option>
                <option value = "Sting" >Sting</option>
                <option value = "Yacht Club Games" >Yacht Club Games</option>
                <option value = "SCS Software" >SCS Software</option>
                <option value = "Bigben Interactive" >Bigben Interactive</option>
                <option value = "Havas Interactive" >Havas Interactive</option>
                <option value = "Slitherine Software" >Slitherine Software</option>
                <option value = "Graffiti" >Graffiti</option>
                <option value = "Funsta" >Funsta</option>
                <option value = "Telstar" >Telstar</option>
                <option value = "U.S. Gold" >U.S. Gold</option>
                <option value = "DreamWorks Interactive" >DreamWorks Interactive</option>
                <option value = "Data Design Interactive" >Data Design Interactive</option>
                <option value = "MTO" >MTO</option>
                <option value = "DHM Interactive" >DHM Interactive</option>
                <option value = "FunSoft" >FunSoft</option>
                <option value = "SPS" >SPS</option>
                <option value = "Bohemia Interactive" >Bohemia Interactive</option>
                <option value = "Reef Entertainment" >Reef Entertainment</option>
                <option value = "Tru Blu Entertainment" >Tru Blu Entertainment</option>
                <option value = "Moss" >Moss</option>
                <option value = "T&E Soft" >T&E Soft</option>
                <option value = "O-Games" >O-Games</option>
                <option value = "Aksys Games" >Aksys Games</option>
                <option value = "NDA Productions" >NDA Productions</option>
                <option value = "Data East" >Data East</option>
                <option value = "Time Warner Interactive" >Time Warner Interactive</option>
                <option value = "Gainax Network Systems" >Gainax Network Systems</option>
                <option value = "Daito" >Daito</option>
                <option value = "O3 Entertainment" >O3 Entertainment</option>
                <option value = "Gameloft" >Gameloft</option>
                <option value = "Xicat Interactive" >Xicat Interactive</option>
                <option value = "Simon & Schuster Interactive" >Simon & Schuster Interactive</option>
                <option value = "Valcon Games" >Valcon Games</option>
                <option value = "PopTop Software" >PopTop Software</option>
                <option value = "TOHO" >TOHO</option>
                <option value = "HMH Interactive" >HMH Interactive</option>
                <option value = "5pb" >5pb</option>
                <option value = "Cave" >Cave</option>
                <option value = "CDV Software Entertainment" >CDV Software Entertainment</option>
                <option value = "Microids" >Microids</option>
                <option value = "PM Studios" >PM Studios</option>
                <option value = "Paon" >Paon</option>
                <option value = "Micro Cabin" >Micro Cabin</option>
                <option value = "GameTek" >GameTek</option>
                <option value = "Benesse" >Benesse</option>
                <option value = "Type-Moon" >Type-Moon</option>
                <option value = "Enjoy Gaming ltd." >Enjoy Gaming ltd.</option>
                <option value = "Asmik Corp" >Asmik Corp</option>
                <option value = "Interplay Productions" >Interplay Productions</option>
                <option value = "Asmik Ace Entertainment" >Asmik Ace Entertainment</option>
                <option value = "inXile Entertainment" >inXile Entertainment</option>
                <option value = "Image Epoch" >Image Epoch</option>
                <option value = "Phantom EFX" >Phantom EFX</option>
                <option value = "Evolved Games" >Evolved Games</option>
                <option value = "responDESIGN" >responDESIGN</option>
                <option value = "Culture Publishers" >Culture Publishers</option>
                <option value = "Griffin International" >Griffin International</option>
                <option value = "Hackberry" >Hackberry</option>
                <option value = "Hearty Robin" >Hearty Robin</option>
                <option value = "Nippon Amuse" >Nippon Amuse</option>
                <option value = "Origin Systems" >Origin Systems</option>
                <option value = "Seventh Chord" >Seventh Chord</option>
                <option value = "Mitsui" >Mitsui</option>
                <option value = "Milestone" >Milestone</option>
                <option value = "Abylight" >Abylight</option>
                <option value = "Flight-Plan" >Flight-Plan</option>
                <option value = "Glams" >Glams</option>
                <option value = "Locus" >Locus</option>
                <option value = "Warp" >Warp</option>
                <option value = "Daedalic Entertainment" >Daedalic Entertainment</option>
                <option value = "Alternative Software" >Alternative Software</option>
                <option value = "Myelin Media" >Myelin Media</option>
                <option value = "Mercury Games" >Mercury Games</option>
                <option value = "Irem Software Engineering" >Irem Software Engineering</option>
                <option value = "Sunrise Interactive" >Sunrise Interactive</option>
                <option value = "Elite" >Elite</option>
                <option value = "Evolution Games" >Evolution Games</option>
                <option value = "Tivola" >Tivola</option>
                <option value = "Global A Entertainment" >Global A Entertainment</option>
                <option value = "Edia" >Edia</option>
                <option value = "Athena" >Athena</option>
                <option value = "Aria" >Aria</option>
                <option value = "Gamecock" >Gamecock</option>
                <option value = "Tommo" >Tommo</option>
                <option value = "Altron" >Altron</option>
                <option value = "Happinet" >Happinet</option>
                <option value = "iWin" >iWin</option>
                <option value = "Media Works" >Media Works</option>
                <option value = "Fortyfive" >Fortyfive</option>
                <option value = "Revolution Software" >Revolution Software</option>
                <option value = "Imax" >Imax</option>
                <option value = "Crimson Cow" >Crimson Cow</option>
                <option value = "10TACLE Studios" >10TACLE Studios</option>
                <option value = "Groove Games" >Groove Games</option>
                <option value = "Pack-In-Video" >Pack-In-Video</option>
                <option value = "Insomniac Games" >Insomniac Games</option>
                <option value = "Ascaron Entertainment GmbH" >Ascaron Entertainment GmbH</option>
                <option value = "Asgard" >Asgard</option>
                <option value = "Ecole" >Ecole</option>
                <option value = "Yumedia" >Yumedia</option>
                <option value = "Phenomedia" >Phenomedia</option>
                <option value = "HAL Laboratory" >HAL Laboratory</option>
                <option value = "Grand Prix Games" >Grand Prix Games</option>
                <option value = "DigiCube" >DigiCube</option>
                <option value = "Creative Core" >Creative Core</option>
                <option value = "Kaga Create" >Kaga Create</option>
                <option value = "WayForward Technologies" >WayForward Technologies</option>
                <option value = "LSP Games" >LSP Games</option>
                <option value = "ASCII Media Works" >ASCII Media Works</option>
                <option value = "Coconuts Japan" >Coconuts Japan</option>
                <option value = "Arika" >Arika</option>
                <option value = "Ertain" >Ertain</option>
                <option value = "Marvel Entertainment" >Marvel Entertainment</option>
                <option value = "Prototype" >Prototype</option>
                <option value = "Phantagram" >Phantagram</option>
                <option value = "1C Company" >1C Company</option>
                <option value = "The Learning Company" >The Learning Company</option>
                <option value = "TechnoSoft" >TechnoSoft</option>
                <option value = "Vap" >Vap</option>
                <option value = "Misawa" >Misawa</option>
                <option value = "Tradewest" >Tradewest</option>
                <option value = "Team17 Software" >Team17 Software</option>
                <option value = "Yeti" >Yeti</option>
                <option value = "Pow" >Pow</option>
                <option value = "Navarre Corp" >Navarre Corp</option>
                <option value = "MediaQuest" >MediaQuest</option>
                <option value = "Max Five" >Max Five</option>
                <option value = "Comfort" >Comfort</option>
                <option value = "Monte Christo Multimedia" >Monte Christo Multimedia</option>
                <option value = "Pony Canyon" >Pony Canyon</option>
                <option value = "Riverhillsoft" >Riverhillsoft</option>
                <option value = "Summitsoft" >Summitsoft</option>
                <option value = "Milestone S.r.l" >Milestone S.r.l</option>
                <option value = "Playmore" >Playmore</option>
                <option value = "MLB.com" >MLB.com</option>
                <option value = "Kool Kizz" >Kool Kizz</option>
                <option value = "Flashpoint Games" >Flashpoint Games</option>
                <option value = "49Games" >49Games</option>
                <option value = "Legacy Interactive" >Legacy Interactive</option>
                <option value = "Alawar Entertainment" >Alawar Entertainment</option>
                <option value = "CyberFront" >CyberFront</option>
                <option value = "Cloud Imperium Games Corporation" >Cloud Imperium Games Corporation</option>
                <option value = "Societa" >Societa</option>
                <option value = "Virtual Play Games" >Virtual Play Games</option>
                <option value = "Interchannel" >Interchannel</option>
                <option value = "Sonnet" >Sonnet</option>
                <option value = "Experience Inc." >Experience Inc.</option>
                <option value = "Zenrin" >Zenrin</option>
                <option value = "Iceberg Interactive" >Iceberg Interactive</option>
                <option value = "Ivolgamus" >Ivolgamus</option>
                <option value = "2D Boy" >2D Boy</option>
                <option value = "MC2 Entertainment" >MC2 Entertainment</option>
                <option value = "Kando Games" >Kando Games</option>
                <option value = "Just Flight" >Just Flight</option>
                <option value = "Office Create" >Office Create</option>
                <option value = "Mamba Games" >Mamba Games</option>
                <option value = "Fields" >Fields</option>
                <option value = "Princess Soft" >Princess Soft</option>
                <option value = "Maximum Family Games" >Maximum Family Games</option>
                <option value = "Berkeley" >Berkeley</option>
                <option value = "Fuji" >Fuji</option>
                <option value = "Dusenberry Martin Racing" >Dusenberry Martin Racing</option>
                <option value = "imageepoch Inc." >imageepoch Inc.</option>
                <option value = "Big Fish Games" >Big Fish Games</option>
                <option value = "Her Interactive" >Her Interactive</option>
                <option value = "Kamui" >Kamui</option>
                <option value = "ASK" >ASK</option>
                <option value = "TopWare Interactive" >TopWare Interactive</option>
                <option value = "Headup Games" >Headup Games</option>
                <option value = "KSS" >KSS</option>
                <option value = "Cygames" >Cygames</option>
                <option value = "KID" >KID</option>
                <option value = "Quinrose" >Quinrose</option>
                <option value = "Sunflowers" >Sunflowers</option>
                <option value = "dramatic create" >dramatic create</option>
                <option value = "TGL" >TGL</option>
                <option value = "Encore" >Encore</option>
                <option value = "Extreme Entertainment Group" >Extreme Entertainment Group</option>
                <option value = "Intergrow" >Intergrow</option>
                <option value = "G.Rev" >G.Rev</option>
                <option value = "Sweets" >Sweets</option>
                <option value = "Kokopeli Digital Studios" >Kokopeli Digital Studios</option>
                <option value = "Number None" >Number None</option>
                <option value = "Nexon" >Nexon</option>
                <option value = "id Software" >id Software</option>
                <option value = "BushiRoad" >BushiRoad</option>
                <option value = "Tryfirst" >Tryfirst</option>
                <option value = "Strategy First" >Strategy First</option>
                <option value = "7G//AMES" >7G//AMES</option>
                <option value = "GN Software" >GN Software</option>
                <option value = "Yuke's" >Yuke's</option>
                <option value = "Easy Interactive" >Easy Interactive</option>
                <option value = "Licensed 4U" >Licensed 4U</option>
                <option value = "FuRyu Corporation" >FuRyu Corporation</option>
                <option value = "Lexicon Entertainment" >Lexicon Entertainment</option>
                <option value = "Paon Corporation" >Paon Corporation</option>
                <option value = "Kids Station" >Kids Station</option>
                <option value = "GOA" >GOA</option>
                <option value = "Graphsim Entertainment" >Graphsim Entertainment</option>
                <option value = "King Records" >King Records</option>
                <option value = "Introversion Software" >Introversion Software</option>
                <option value = "Minato Station" >Minato Station</option>
                <option value = "Devolver Digital" >Devolver Digital</option>
                <option value = "Blue Byte" >Blue Byte</option>
                <option value = "Gaga" >Gaga</option>
                <option value = "Yamasa Entertainment" >Yamasa Entertainment</option>
                <option value = "Plenty" >Plenty</option>
                <option value = "Views" >Views</option>
                <option value = "fonfun" >fonfun</option>
                <option value = "NetRevo" >NetRevo</option>
                <option value = "Codemasters Online" >Codemasters Online</option>
                <option value = "Quintet" >Quintet</option>
                <option value = "Phoenix Games" >Phoenix Games</option>
                <option value = "Dorart" >Dorart</option>
                <option value = "Marvelous Games" >Marvelous Games</option>
                <option value = "Focus Multimedia" >Focus Multimedia</option>
                <option value = "Imageworks" >Imageworks</option>
                <option value = "Karin Entertainment" >Karin Entertainment</option>
                <option value = "Aerosoft" >Aerosoft</option>
                <option value = "Technos Japan Corporation" >Technos Japan Corporation</option>
                <option value = "Gakken" >Gakken</option>
                <option value = "Mirai Shounen" >Mirai Shounen</option>
                <option value = "Datam Polystar" >Datam Polystar</option>
                <option value = "Saurus" >Saurus</option>
                <option value = "HuneX" >HuneX</option>
                <option value = "Revolution (Japan)" >Revolution (Japan)</option>
                <option value = "Giza10" >Giza10</option>
                <option value = "Visco" >Visco</option>
                <option value = "Alvion" >Alvion</option>
                <option value = "Mycom" >Mycom</option>
                <option value = "Giga" >Giga</option>
                <option value = "Warashi" >Warashi</option>
                <option value = "System Soft" >System Soft</option>
                <option value = "Sold Out" >Sold Out</option>
                <option value = "Lighthouse Interactive" >Lighthouse Interactive</option>
                <option value = "Masque Publishing" >Masque Publishing</option>
                <option value = "RED Entertainment" >RED Entertainment</option>
                <option value = "Michaelsoft" >Michaelsoft</option>
                <option value = "Media Entertainment" >Media Entertainment</option>
                <option value = "New World Computing" >New World Computing</option>
                <option value = "Genterprise" >Genterprise</option>
                <option value = "Interworks Unlimited, Inc." >Interworks Unlimited, Inc.</option>
                <option value = "Boost On" >Boost On</option>
                <option value = "Stainless Games" >Stainless Games</option>
                <option value = "EON Digital Entertainment" >EON Digital Entertainment</option>
                <option value = "Epic Games" >Epic Games</option>
                <option value = "Naxat Soft" >Naxat Soft</option>
                <option value = "Ascaron Entertainment" >Ascaron Entertainment</option>
                <option value = "Piacci" >Piacci</option>
                <option value = "Nitroplus" >Nitroplus</option>
                <option value = "Paradox Development" >Paradox Development</option>
                <option value = "Otomate" >Otomate</option>
                <option value = "Ongakukan" >Ongakukan</option>
                <option value = "Commseed" >Commseed</option>
                <option value = "Inti Creates" >Inti Creates</option>
                <option value = "Takuyo" >Takuyo</option>
                <option value = "Interchannel-Holon" >Interchannel-Holon</option>
                <option value = "Rain Games" >Rain Games</option>
                <option value = "UIG Entertainment" >UIG Entertainment</option>
                
        </select>
    </div>
    <div id="line">
            
    </div>
    <script src="{{url_for('static', filename='gamedata/publisherdata.js')}}"></script>
    <script src="{{url_for('static', filename='gamedata/publishergraphs.js')}}"></script>
    
</body>
</html>